doctype html
html
head
  meta(charset='utf-8')  
  title #{title}
  script(src="pixi/pixi.min.js")
  script(src="scripts/utils.js")
  script(src="scripts/main.js")
  //script(src="scripts/assets.js")
  //script(src="scripts/treasure-hunter.js")
  //script(src="scripts/cat-move.js")
  //script(src="scripts/keyboard-cat.js")
  //script(src="scripts/grouping.js")
  //script(src="scripts/graphic-primitives.js")
  //script(src="scripts/text.js")
  script(src="scripts/collision-detection.js")
  style(type="text/css").
    * {padding:0; margin:0}
body
